<!-- menu -->
<div class="menu">
	<ul class="menu-items"></ul>
</div>
<!-- end menu -->
<!-- header -->
<div class="header">
	<img class="logo" src="/images/alien.svg" />
	<div class="header-menu">
		<ul class="menu-items"></ul>
	</div>
	<div class="menu-button">
		<span></span>
		<span></span>
	</div>
</div>
<!-- end header -->

<!-- loader -->
<div class="loader"></div>
<!-- end loader -->
<!-- bars -->
<div class="top-bar">
	<div class="top-bar-content">
		<img class="top-bar-logo" src="/images/icon.png" alt="Logo" />
		<div class="top-bar-title">Masterplan 360</div>
	</div>
</div>
<div class="home-hero-video">
	<video class="hero-video" id="hero-video" muted playsinline loop></video>
</div>
<div class="bottom-bar"></div>
<!-- bars -->
<div id="reel">
	<div class="reel-video"></div>
	<div class="close-button close"></div>
</div>
