<!-- menu -->
<div class="menu">
	<ul class="menu-items"></ul>
</div>
<!-- end menu -->
<!-- header -->
<div class="header">
	<div class="header-title"></div>
	<img class="logo" src="/images/alien.svg" />
	<div class="header-menu">
		<ul class="menu-items"></ul>
	</div>
	<div class="menu-button">
		<span></span>
		<span></span>
	</div>
</div>
<!-- end header -->

<!-- loader -->
<div class="loader"></div>
<!-- end loader -->
<!-- bars -->
<div class="top-bar"></div>
<div class="bottom-bar"></div>
<!-- bars -->
<div class="footer-sound">
	<span id="bar-1" class="sbar"></span>
	<span id="bar-2" class="sbar"></span>
	<span id="bar-3" class="sbar"></span>
	<span id="bar-4" class="sbar"></span>
</div>
<div id="reel">
	<div class="reel-video"></div>
	<div class="close-button close"></div>
</div>
