<!-- about -->
<div class="info page">
	<div
		class="page-title"
		data-aos="zoom-in"
		data-aos-duration="1000"
		data-aos-delay="200"
	></div>
	<div
		class="page-subtitle"
		data-aos="zoom-in"
		data-aos-duration="1000"
		data-aos-delay="400"
	></div>
	<div class="page-content"></div>
	<div
		data-aos="zoom-in"
		data-aos-easing="ease-in-out"
		data-aos-offset="50"
		data-aos-duration="1000"
		data-aos-delay="50"
		class="feature"
	>
		<div class="feature-content"></div>
	</div>
	<div
		data-aos="fade-in"
		data-aos-easing="ease-in-out"
		data-aos-offset="50"
		data-aos-duration="1000"
		data-aos-delay="50"
		class="bio-title section-title"
	></div>
	<div
		data-aos="fade-in"
		data-aos-easing="ease-in-out"
		data-aos-offset="50"
		data-aos-duration="1000"
		data-aos-delay="50"
		class="bio"
	></div>
	<div class="awards-block info-block">
		<div
			data-aos="fade-in"
			data-aos-easing="ease-in-out"
			data-aos-offset="50"
			data-aos-duration="1000"
			data-aos-delay="50"
			class="awards-title section-title"
		></div>
		<div class="awards-list"></div>
	</div>
	<div class="clients-block info-block">
		<div
			data-aos="fade-in"
			data-aos-easing="ease-in-out"
			data-aos-offset="50"
			data-aos-duration="1000"
			data-aos-delay="50"
			class="clients-title section-title"
		></div>
		<div class="clients-list"></div>
	</div>
	<div
		data-aos="fade-in"
		data-aos-easing="ease-in-out"
		data-aos-offset="50"
		data-aos-duration="1000"
		data-aos-delay="50"
		class="instafeed-title section-title"
	></div>
	<div
		data-aos="fade-in"
		data-aos-easing="ease-in-out"
		data-aos-offset="50"
		data-aos-duration="1000"
		data-aos-delay="50"
		id="instafeed"
	></div>
	<div class="social-block info-block">
		<div
			data-aos="fade-in"
			data-aos-easing="ease-in-out"
			data-aos-offset="50"
			data-aos-duration="1000"
			data-aos-delay="50"
			class="social-title section-title"
		></div>
		<div class="social-list"></div>
	</div>
	<div class="team-block info-block">
		<div
			data-aos="fade-in"
			data-aos-easing="ease-in-out"
			data-aos-offset="50"
			data-aos-duration="1000"
			data-aos-delay="50"
			class="team-title section-title"
		></div>
		<div class="team-list"></div>
	</div>
</div>
<!-- end about -->
