<!-- work detail -->
<div class="work-detail page">
	<div
		class="page-title"
		data-aos="zoom-in"
		data-aos-duration="1000"
		data-aos-delay="200"
	></div>
	<div
		class="page-subtitle"
		data-aos="zoom-in"
		data-aos-duration="1000"
		data-aos-delay="400"
	></div>
	<div class="feature" data-aos="fade-in">
		<div class="feature-content"></div>
	</div>
	<div class="next-button" data-aos="fade-left">
		<img class="next-button-circle" src="/images/circle.svg" />
		<img class="next-button-arrow" src="/images/arrow.svg" />
	</div>
	<div class="client" data-aos="fade-in"></div>
	<div class="role" data-aos="fade-in"></div>
	<div class="content-title section-title" data-aos="fade-in"></div>

	<div class="content" data-aos="fade-in"></div>

	<div class="awards-block info-block" data-aos="fade-in">
		<div class="awards-title section-title"></div>
		<div class="awards-list"></div>
	</div>
	<div class="press-block info-block" data-aos="fade-in">
		<div class="press-title section-title"></div>
		<div class="press-list"></div>
	</div>
	<div class="links-block info-block" data-aos="fade-in">
		<div class="links-title"></div>
		<div class="links-list"></div>
	</div>
	<div class="social-block info-block" data-aos="fade-in">
		<div class="social-title section-title"></div>
		<div class="social-list">
			<img
				class="social-link share-page-twitter list-item"
				src="/images/twitter.png"
			/>
			<img
				class="social-link share-page-facebook list-item"
				src="/images/facebook.png"
			/>
		</div>
	</div>
	<div class="media-block info-block" data-aos="fade-in">
		<div class="media-title section-title"></div>
		<div class="media-list"></div>
	</div>
	<div class="related-title section-title" data-aos="fade-in"></div>
	<div class="related-list" data-aos="fade-in"></div>
	<div class="bottom-nav">
		<div class="bottom-back">⇠ prev</div>
		<div class="bottom-up">back to work</div>
		<div class="bottom-next">next ⇢</div>
	</div>
</div>
<!-- end work detail -->
